@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Dark--Violet: hsl(256, 26%, 20%);
    --Very--Dark--Violet: hsl(270, 9%, 17%);
    --Dark--Grayish--Violet: hsl(273, 4%, 51%);
    --Very--Light--Gry: hsl(0, 0%, 98%);
    --Light--Grayish--Blue: hsl(220, 16%, 96%);
    --Very--Light--Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

body {
    /* font-family: 'DM Serif Display', serif; */
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
}

img,
span,
svg {
    display: block;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: 2px solid black;
    background: none;
    font: inherit;
    cursor: pointer;
    padding: 14px;
}

.container {
    max-width: 1440px;
    margin: auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    background: var(--White);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 18px;

}

.navbar-toggle-btn {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 40px;
    height: 30px;
}

.navbar-toggle-btn span {
    display: block;
    background: var(--Very--Dark--Violet);
    width: 25px;
    height: 1px;
    transition: 0.25s ease;
}

.navbar-toggle-btn.active .one {
    transform: rotate(45deg) translateY(3px);
}

.navbar-toggle-btn.active .two {
    display: none;
}

.navbar-toggle-btn.active .three {
    transform: rotate(-45deg) translateY(-3px);
}

.navbar-nav {
    position: fixed;
    background: var(--White);
    top: 60px;
    left: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
    border-radius: 5px;
    z-index: -1;
    opacity: 99;
    transition: 0.5s ease;
    pointer-events: none;
    /* margin-right: 150px; */
}

.navbar-nav a {
    color: var(--Dark--Violet);
    display: block;
}

.navbar-nav.active {
    top: calc(60px + 20px);
    opacity: 1;
    box-shadow: 0 0 100px 100px hsla(233, 26%, 24%, 0.2);
    pointer-events: all;
}

main {
    overflow: hidden;
}

.home {
    background: var(--Dark--Violet);
    color: var(--White);
    padding-bottom: 70px;
}

.home-img-box {
    background: url(images/bg-pattern-intro-right-desktop.svg) no-repeat top;
    background-size: cover;
    padding: 0 15px;
    margin-bottom: 40px;
    position: relative;
}

.home-img-box home-img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: bottom;

}

.home-title {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    font-weight: 400;
    color: var(--White);
    margin-bottom: 20px;
    padding: 0 20px;
    text-align: center;
}

.home-title br {
    display: none;
}

.home-text br {
    display: none;
}

.home-text {
    margin: auto;
    width: 135%;
    color: var(--Dark--Blue);
    text-align: center;
    font-size: 15px;
    margin-bottom: 80px;
    padding: 0 20px;
}

.bottomleft {
    position: absolute;
    background-image: url(images/bg-pattern-intro-left-desktop.svg);
    width: 35%;
    height: 65vh;
    background-repeat: no-repeat;
    bottom: 8px;
    left: 0px;
    font-size: 18px;
    color: red;
    top: 498px;
    z-index: 999;
}

.topright {
    position: absolute;
    background-image: url(images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    width: 25%;
    height: 65vh;
    bottom: 8px;
    right: 0px;
    font-size: 18px;
    color: red;
    top: 65px;
    z-index: 999;
    margin-right: 0px;
}

.home-imgN {
    display: block;
    margin-left: 220px;
    margin-top: 55px;
    padding-top: 170px;
    font-weight: 400;

}


.service {
    padding: 100px 20px;
}

.section-title {
    text-align: left;
    font-size: 40px;
    margin-left: 4rem;
}

.section-text {
    text-align: left;
    max-width: 650px;
    margin: 0;
    margin-bottom: 80px;
    margin-left: 4rem;
}

.service-card-group {
    justify-content:space-between;
    align-items: flex-start;
    gap: 150px;
    margin-left: -4rem;
}

.service-card {
    width: 150%;
    text-align: left;
}

.service-card .card-icon {
    margin-bottom: 30px;
    margin-left: 0;
}

.service-card .card-title {
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
    text-align: justify;
    margin-bottom: 1rem;
}

.service-card .card-text {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    text-align: left;
    width: 95%;
    margin-bottom: 2rem;
}